* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
body {
    min-height: 100vh;
}
.container {
    width: 70%;
    margin: auto;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    align-self: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a {
    text-decoration: none;
}
main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form {
    width: 45%;
}
.signImg {
    width: 50%;
    text-align: right;
    margin-right: -20px;
}
.signImg img {
    width: 500px;
}
h1 {
    color: darkblue;
    margin-bottom: 25px;
    text-align: center;
    font-size: 1.3rem;
}

button {
    width: 100%;
    height: 40px;
    color: white;
    background-color: darkblue;
    outline: none;
    border: none;
    margin-bottom: 25px; 
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
    border: 1px solid red darkblue;
}
button:hover {
    color: darkblue;
    background-color: transparent;
    border: 1px solid darkblue;
}
.input {
    width: 100%;
    margin-bottom: 25px; 
    padding: .6em 1.5em;
    border-radius: 3px;
    outline: none;
    border: 1px solid rgba(156, 156, 156, 0.808);
}

.inputCtn {
    position: relative;
}
#placeholder {
    font-size: .7rem;
    position: absolute;
    left: 14px;
    top: -8px;
    background-color: white;
    padding: 0 7px;
    color: rgb(136, 135, 135);
    display: none;
}
span {
    text-align: left;
    font-size: .4rem;
}
.agreeBox {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
    margin-top: -20px;
    color: rgb(136, 135, 135);
}
.agreeBox b {
    color: rgba(0, 0, 0, 0.815);
}
.agreeBox input {
    margin-right: 10px;
    cursor: pointer;
    z-index: 5;
}
.agreeBox p {
    font-size: .8rem;
}
.haveAccount {
    text-align: center;
    border-top: 1px solid rgba(128, 128, 128, 0.404);
    padding-top: 10px;
    width: 80%;
    margin: auto;
    font-size: .9rem;
}
.haveAccount a {
     color: darkblue;
     text-decoration: none;
}





/* Login */
.forgetpwd {
    margin-top: -15px;
    margin-bottom: 40px;
    font-size: .7rem;
    color: rgb(112, 112, 112);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#message {
    padding: 10px 10px;
    position: absolute;
    color: red;
    background-color: white;
    box-shadow: 1px 1px 7px rgb(165, 164, 164);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    top: 20px;
    transition: all .5s ease;
    transform: translate(-120%);
}

#loginMessage {
    padding: 10px 10px;
    position: absolute;
    color: red;
    background-color: white;
    box-shadow: 1px 1px 7px rgb(165, 164, 164);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    top: 20px;
    transform: translate(-120%);
    animation: moveLeftRight 2s ease;
}

  @keyframes moveLeftRight {
    0% {
        transform: translate(-120%);
    }
    50% {
        transform: translate(0%); 
    }
  }

@media (max-width:768px) {
    .signImg {
        display: none;
    }
    .flex {
        flex-direction: column;
    }
    form {
        width: 100%;
    }
} 